<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Google Protocol Buffer to JSON</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active spacewidth">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="convert()" [disabled]="convertDisabled()">Convert</button>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="resetInputs()">Reset</button>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container spaceheight">

  <div class="starter-template">
    <div class="container">
      <div class="row">
        <div class="col form-group">
            <label for="sourceTextArea">YAML</label>
            <textarea class="form-control" id="sourceTextArea" rows="15"  placeholder="Enter source code here ..." [(ngModel)]="srcText"></textarea>
        </div>
        <div class="col form-group">
          <label for="targetTextArea">JSON</label>
          <textarea class="form-control" id="targetTextArea" rows="15" readonly [(ngModel)]="targetText"></textarea>
      </div>
      </div>
      <div class="row form-group">
          <label for="consoleTextArea">Console</label>
          <textarea class="form-control" id="consoleTextArea" rows="3" readonly [(ngModel)]="consoleText"></textarea>
      </div>
    </div>
  </div>